  <div class="drawer__inner drawer-left__inner">

    {% if section.settings.drawer_search_enable %}
      {% include 'search-bar', search_btn_style: 'btn--secondary', search_bar_location: 'search-bar--drawer' %}
    {% endif %}
    
    <div id="mobile_drawer_nav">
      
      <div class="drawer_close_wrapper">
        <button type="button" class="icon-fallback-text js-drawer-close" aria-controls="NavDrawer" aria-expanded="true">
          <span class="burger-icon burger-icon--top"></span>
          <span class="burger-icon burger-icon--mid"></span>
          <span class="burger-icon burger-icon--bottom"></span>
          <span class="fallback-text">Site navigation</span>
        </button>
      </div>
      
         <div class="header_logo_wrap">

              {% if template.name == 'index' %}
                <h1 class="site-header__logo large--left" itemscope itemtype="http://schema.org/Organization">
              {% else %}
                <div class="h1 site-header__logo large--left" itemscope itemtype="http://schema.org/Organization">
              {% endif %}
                {% if section.settings.logo_max_width != blank %}
                  {% capture image_size %}{{ section.settings.logo_max_width | escape }}x{% endcapture %}
                {% else %}
                  {% assign image_size = "180x" %}
                {% endif %}

                {% if template.name == 'index' %}
                  <a href="/" itemprop="url" class="site-header__logo-link hide-tab">
                    <?xml version="1.0" encoding="UTF-8"?>
                    <svg width="107px" height="17px" viewBox="0 0 107 17" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <title>andboxlogo</title>
                        <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <g id="logo/primary/white" fill="#FFFFFF" fill-rule="nonzero">
                                <g id="andboxlogo">
                                    <path d="M65.7346178,17 C68.6702222,17 71.048,15.5833333 71.048,12.0416667 L71.048,12.0416667 C71.048,10.2821667 70.1492,9.03927778 68.48,8.5 L68.48,8.075 C69.7920578,7.38508333 70.6295111,6.07702778 70.62,4.25 L70.62,4.25 C70.62,1.49175 68.26172,0 65.484,0 L54.356,0 L53.928,0.425 L53.928,16.575 L54.356,17 L65.7346178,17 Z M58.208,3.825 L58.636,3.4 L64.628,3.4 C65.5735115,3.4 66.34,4.16111593 66.34,5.1 C66.34,6.03888407 65.5735115,6.8 64.628,6.8 L58.636,6.8 L58.208,6.375 L58.208,3.825 Z M65.056,13.6 L58.636,13.6 L58.208,13.175 L58.208,10.625 L58.636,10.2 L65.056,10.2 C66.0015115,10.2 66.768,10.9611159 66.768,11.9 C66.768,12.8388841 66.0015115,13.6 65.056,13.6 Z" id="Shape"></path>
                                    <polygon id="Path" points="107 2.975 107 0.425 106.572 0 104.004 0 98.654 5.3125 98.226 5.3125 92.876 0 90.308 0 89.88 0.425 89.88 2.975 95.23 8.2875 95.23 8.7125 89.88 14.025 89.88 16.575 90.308 17 92.876 17 98.226 11.6875 98.654 11.6875 104.004 17 106.572 17 107 16.575 107 14.025 101.65 8.7125 101.65 8.2875"></polygon>
                                    <polygon id="Path" points="35.096 0.425 34.668 0 31.244 0 30.816 0.425 30.816 9.35 30.388 9.35 20.972 0 18.404 0 17.976 0.425 17.976 16.575 18.404 17 21.828 17 22.256 16.575 22.256 7.65 22.684 7.65 32.1 17 34.668 17 35.096 16.575"></polygon>
                                    <path d="M45.368,17 C49.6228017,17 53.072,13.5749783 53.072,9.35 L53.072,7.65 C53.072,3.42502166 49.6228017,5.68434189e-14 45.368,5.68434189e-14 L36.38,5.68434189e-14 L35.952,0.425 L35.952,16.575 L36.38,17 L45.368,17 Z M48.792,9.35 C48.792,11.3186944 47.08,13.175 45.368,13.175 L40.66,13.175 L40.232,12.75 L40.232,4.25 L40.66,3.825 L45.368,3.825 C47.08,3.825 48.792,5.68130556 48.792,7.65 L48.792,9.35 Z" id="Shape"></path>
                                    <path d="M5.564,0 L0.00380444444,5.525 L0,5.525 L0,16.575 L0.428,17 L3.852,17 L4.28,16.575 L4.28,13.6 L4.708,13.175 L12.412,13.175 L12.84,13.6 L12.84,16.575 L13.268,17 L16.692,17 L17.12,16.575 L17.12,5.525 L11.556,0 L5.564,0 Z M12.412,9.35 L4.708,9.35 L4.28,8.925 L4.28,7.225 L7.704,3.825 L9.416,3.825 L12.84,7.225 L12.84,8.925 L12.412,9.35 Z" id="Shape"></path>
                                    <rect id="Rectangle" x="71.904" y="0" width="17.12" height="17"></rect>
                                </g>
                            </g>
                        </g>
                    </svg>
                  </a>
                  <a href="/" class="tab-down">
                  	{{'andboxlogo-white_mobile.svg' | file_url | img_tag }}
                  </a>
                {% else %}
                  <a href="/" itemprop="url" class="site-header__logo-link hide-tab">
                     <?xml version="1.0" encoding="UTF-8"?>
                      <svg width="107px" height="17px" viewBox="0 0 107 17" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                          <title>andboxlogo</title>
                          <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                              <g id="logo/primary/white" fill="#FFFFFF" fill-rule="nonzero">
                                  <g id="andboxlogo">
                                      <path d="M65.7346178,17 C68.6702222,17 71.048,15.5833333 71.048,12.0416667 L71.048,12.0416667 C71.048,10.2821667 70.1492,9.03927778 68.48,8.5 L68.48,8.075 C69.7920578,7.38508333 70.6295111,6.07702778 70.62,4.25 L70.62,4.25 C70.62,1.49175 68.26172,0 65.484,0 L54.356,0 L53.928,0.425 L53.928,16.575 L54.356,17 L65.7346178,17 Z M58.208,3.825 L58.636,3.4 L64.628,3.4 C65.5735115,3.4 66.34,4.16111593 66.34,5.1 C66.34,6.03888407 65.5735115,6.8 64.628,6.8 L58.636,6.8 L58.208,6.375 L58.208,3.825 Z M65.056,13.6 L58.636,13.6 L58.208,13.175 L58.208,10.625 L58.636,10.2 L65.056,10.2 C66.0015115,10.2 66.768,10.9611159 66.768,11.9 C66.768,12.8388841 66.0015115,13.6 65.056,13.6 Z" id="Shape"></path>
                                      <polygon id="Path" points="107 2.975 107 0.425 106.572 0 104.004 0 98.654 5.3125 98.226 5.3125 92.876 0 90.308 0 89.88 0.425 89.88 2.975 95.23 8.2875 95.23 8.7125 89.88 14.025 89.88 16.575 90.308 17 92.876 17 98.226 11.6875 98.654 11.6875 104.004 17 106.572 17 107 16.575 107 14.025 101.65 8.7125 101.65 8.2875"></polygon>
                                      <polygon id="Path" points="35.096 0.425 34.668 0 31.244 0 30.816 0.425 30.816 9.35 30.388 9.35 20.972 0 18.404 0 17.976 0.425 17.976 16.575 18.404 17 21.828 17 22.256 16.575 22.256 7.65 22.684 7.65 32.1 17 34.668 17 35.096 16.575"></polygon>
                                      <path d="M45.368,17 C49.6228017,17 53.072,13.5749783 53.072,9.35 L53.072,7.65 C53.072,3.42502166 49.6228017,5.68434189e-14 45.368,5.68434189e-14 L36.38,5.68434189e-14 L35.952,0.425 L35.952,16.575 L36.38,17 L45.368,17 Z M48.792,9.35 C48.792,11.3186944 47.08,13.175 45.368,13.175 L40.66,13.175 L40.232,12.75 L40.232,4.25 L40.66,3.825 L45.368,3.825 C47.08,3.825 48.792,5.68130556 48.792,7.65 L48.792,9.35 Z" id="Shape"></path>
                                      <path d="M5.564,0 L0.00380444444,5.525 L0,5.525 L0,16.575 L0.428,17 L3.852,17 L4.28,16.575 L4.28,13.6 L4.708,13.175 L12.412,13.175 L12.84,13.6 L12.84,16.575 L13.268,17 L16.692,17 L17.12,16.575 L17.12,5.525 L11.556,0 L5.564,0 Z M12.412,9.35 L4.708,9.35 L4.28,8.925 L4.28,7.225 L7.704,3.825 L9.416,3.825 L12.84,7.225 L12.84,8.925 L12.412,9.35 Z" id="Shape"></path>
                                      <rect id="Rectangle" x="71.904" y="0" width="17.12" height="17"></rect>
                                  </g>
                              </g>
                          </g>
                      </svg>
                  </a>
                  <a href="/" class="tab-down">
                  	{{'andboxlogo-white_mobile.svg' | file_url | img_tag }}
                  </a>
                {% else %}
                  <a href="/" itemprop="url">{{ shop.name }}</a>
                {% endif %}
              {% if template.name == 'index' %}
                </h1>
              {% else %}
                </div>
              {% endif %}
            </div> <!-- // LOGO WOGO -->
      
      
      
    </div>

    <ul class="mobile-nav">
      {% for link in linklists[section.settings.main_menu_link_list].links %}
        {% if link.links != blank %}
          <li class="mobile-nav__item">
            <div class="mobile-nav__has-sublist">
              <a
                href="{{ link.url }}"
                class="mobile-nav__link"
                id="Label-{{ forloop.index }}"
                {% unless template.name == 'index' %}{% if link.active %}aria-current="page"{% endif %}{% endunless%}>{{ link.title | escape }}</a>
              <div class="mobile-nav__toggle">
                <button type="button" class="mobile-nav__toggle-btn icon-fallback-text" aria-controls="Linklist-{{ forloop.index }}" aria-expanded="false">
                  <span class="icon-fallback-text mobile-nav__toggle-open">
                    <span class="icon icon-plus" aria-hidden="true"></span>
                    <span class="fallback-text">{{ 'general.drawers.expand_submenu' | t }} {{ link.title | escape }}</span>
                  </span>
                  <span class="icon-fallback-text mobile-nav__toggle-close">
                    <span class="icon icon-minus" aria-hidden="true"></span>
                    <span class="fallback-text">{{ 'general.drawers.collapse_submenu' | t }} {{ link.title | escape }}</span>
                  </span>
                </button>
              </div>
            </div>
            <ul class="mobile-nav__sublist" id="Linklist-{{ forloop.index }}" aria-labelledby="Label-{{ forloop.index }}" role="navigation">
              {% assign parent_index = forloop.index %}
              {% for childlink in link.links %}
                {% if childlink.links != blank %}
                <li class="mobile-nav__item">
                  <div class="mobile-nav__has-sublist">
                    <a
                      href="{{ childlink.url }}"
                      class="mobile-nav__link"
                      id="Label-{{ parent_index }}-{{ forloop.index }}"
                      {% unless template.name == 'index' %}{% if link.active %}aria-current="page"{% endif %}{% endunless%}>
                        {{ childlink.title }}
                    </a>
                    <div class="mobile-nav__toggle">
                      <button type="button" class="mobile-nav__toggle-btn icon-fallback-text" aria-controls="Linklist-{{ parent_index }}-{{ forloop.index }}" aria-expanded="false">
                        <span class="icon-fallback-text mobile-nav__toggle-open">
                          <span class="icon icon-plus" aria-hidden="true"></span>
                          <span class="fallback-text">{{ 'general.drawers.expand_submenu' | t }} {{ link.title | escape }}</span>
                        </span>
                        <span class="icon-fallback-text mobile-nav__toggle-close">
                          <span class="icon icon-minus" aria-hidden="true"></span>
                          <span class="fallback-text">{{ 'general.drawers.collapse_submenu' | t }} {{ link.title | escape }}</span>
                        </span>
                      </button>
                    </div>
                  </div>
                  <ul class="mobile-nav__sublist mobile-nav__subsublist" id="Linklist-{{ parent_index }}-{{ forloop.index }}" aria-labelledby="Label-{{ parent_index }}-{{ forloop.index }}" role="navigation">
                    {% for grandchildlink in childlink.links %}
                      <li class="mobile-nav__item">
                        <a
                          href="{{ grandchildlink.url }}"
                          class="mobile-nav__link"
                          {% unless template.name == 'index' %}{% if grandchildlink.active %}aria-current="page"{% endif %}{% endunless%}>
                            {{ grandchildlink.title | escape }}
                        </a>
                      </li>
                    {% endfor %}
                  </ul>
                </li>
                {% else %}
                <li class="mobile-nav__item">
                  <a
                    href="{{ childlink.url }}"
                    class="mobile-nav__link"
                    {% unless template.name == 'index' %}{% if childlink.active %}aria-current="page"{% endif %}{% endunless%}>
                      {{ childlink.title | escape }}
                  </a>
                </li>
                {% endif %}
              {% endfor %}
            </ul>
          </li>

          {% else %}

          <li class="mobile-nav__item">
            <a
              href="{{ link.url }}"
              class="mobile-nav__link"
              {% unless template.name == 'index' %}{% if link.active %}aria-current="page"{% endif %}{% endunless%}>
                {{ link.title | escape }}
            </a>
          </li>

        {% endif %}
      {% endfor %}
      {% comment %}
        Spacer element
      {% endcomment %}
      <li class="mobile-nav__spacer"></li>

      {% comment %}
        If customer accounts are enabled, provide login and create account links
      
      {% if shop.customer_accounts_enabled %}
        {% if customer %}
          <li class="mobile-nav__item mobile-nav__item--secondary">
            <a href="/account">{{ 'layout.customer.account' | t }}</a>
          </li>
          <li class="mobile-nav__item mobile-nav__item--secondary">
            {{ 'layout.customer.log_out' | t | customer_logout_link }}
          </li>
        {% else %}
          <li class="mobile-nav__item mobile-nav__item--secondary">
            {{ 'layout.customer.log_in' | t | customer_login_link }}
          </li>
          <li class="mobile-nav__item mobile-nav__item--secondary">
            {{ 'layout.customer.create_account' | t | customer_register_link }}
          </li>
        {% endif %}
      {% endif %}
      {% for link in linklists[section.settings.drawer_bottom_link_list].links %}
        <li class="mobile-nav__item mobile-nav__item--secondary"><a href="{{ link.url }}">{{ link.title }}</a></li>
      {% endfor %}
      {% endcomment %}
      
    </ul>
    <!-- //mobile-nav -->
  </div>

