<section class="categories_double_column">

  <div class="half-container">
  
    <div class="left">
      
      	<a class="img-holder" href="{{ page.metafields.page.left_link }}">
        	<img src="{{ page.metafields.page.img_picker_left }}">
        </a>
      
        <div class="text-section">
            <span class="eyebrow header_7"> {{ page.metafields.page.eyebrow_text_left }} </span>
      		<h3 class="header_3"> {{ page.metafields.page.title_left }} </h3>
            <a href="{{ page.metafields.page.left_link }}" > {{ page.metafields.page.link_text_left }} <span>{{ page.metafields.page.link_text_bold_left }}</span> </a>
        </div>
      
    </div>
    
    <div class="right">
      
      	<a class="img-holder" href="{{ page.metafields.page.right_link }}">
        	<img src="{{ page.metafields.page.img_picker_right }}">
        </a>
      
        <div class="text-section">
            <span class="eyebrow header_7 "> {{ page.metafields.page.eyebrow_text_right }} </span>
      		<h3 class="header_3"> {{ page.metafields.page.title_right }} </h3>
            <a href="{{ page.metafields.page.right_link }}" > {{ page.metafields.page.link_text_right }} <span>{{ page.metafields.page.link_text_bold_right }}</span> </a>
        </div>
      
    </div>
    
  </div>

</section>


<section class="categories_single_column">

  <div class="full-container">
  

      
        <div class="text-section">
            <span class="eyebrow header_7"> {{ page.metafields.page.eyebrow_text }} </span>
      		<h3 class="header_3"> {{ page.metafields.page.title }} </h3>
            <a href="{{ page.metafields.page.la_link }}" > {{ page.metafields.page.link_text }} <span>{{ page.metafields.page.link_text_bold }}</span> </a>
        </div>
      
    <div class="img-wrap">
        <a class="img-holder" href="{{ page.metafields.page.la_link }}">
        	<img src="{{ page.metafields.page.img_picker }}">
        </a>
    </div>
      
 
    
  </div>

</section>



<section class="categories_double_column">

  <div class="half-container">
  
    <div class="left">
      
      	<a class="img-holder" href="{{ page.metafields.page.left_link_2 }}">
        	<img src="{{ page.metafields.page.img_picker_left_2 }}">
        </a>
      
        <div class="text-section">
            <span class="eyebrow header_7"> {{ page.metafields.page.eyebrow_text_left_2 }} </span>
      		<h3 class="header_3"> {{ page.metafields.page.title_left_2 }} </h3>
            <a href="{{ page.metafields.page.left_link_2 }}" > {{ page.metafields.page.link_text_left_2 }} <span>{{ page.metafields.page.link_text_bold_left_2 }}</span> </a>
        </div>
      
    </div>
    
    <div class="right">
      
      	<a class="img-holder" href="{{ page.metafields.page.right_link_2 }}">
        	<img src="{{ page.metafields.page.img_picker_right_2 }}">
        </a>
      
        <div class="text-section">
            <span class="eyebrow header_7 "> {{ page.metafields.page.eyebrow_text_right_2 }} </span>
      		<h3 class="header_3"> {{ page.metafields.page.title_right_2 }} </h3>
            <a href="{{ page.metafields.page.right_link_2 }}" > {{ page.metafields.page.link_text_right_2 }} <span>{{ page.metafields.page.link_text_bold_right_2 }}</span> </a>
        </div>
      
    </div>
    
  </div>

</section>




{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
